.signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  margin: auto;
}

.signup .left img {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
}

.signup .left img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.signup .right {
  max-width: 600px;
  padding: 2rem;
}

.signup .right p {
  margin: 2rem 0;
}

@media screen and (max-width: 1240px) {
  .signup {
    flex-direction: column;
  }
}
